@import "../../index.scss";
.Star {
    // padding-bottom: 0rem;
    min-height: 60vh;
    position: relative;
    top: -39vh;
    // left: 50%;
    // transform: translate(-50%, -20vh);
    font-family: $montserrat;
    font-size: 2em;
    padding-left: 0;
    padding-right: 0;
    .news {
        display: inline-block;
        min-width: 18em;
        width: calc(100% / 3);
        padding-bottom: 2em;
        &:nth-child(2n) {
            .card {
                background: $black;
                &-body {
                    a {
                        color: $white;
                    }
                }
            }
        }
    }
    .card {
        border: 1px solid #ffd200;
        padding: 1em;
        &-body {
            height: 20rem;
            .top {
                height: 15rem;
                font-size: 2.5rem;
                a {
                    color: $black;
                }
            }
            .bottom {
                font-size: 1rem;
                &-link {
                    a {
                        color: $red;
                    }
                }
            }
        }
    }
    .fa-star {
        // margin-top: 1em;
        font-size: 2rem;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(2);
        }
    }
    .fade-out {
        animation: fadeOut 0.5s ease-out;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (min-width: 300px) and (max-width:767.9px) {
    .Star {
        min-height: 20vh;
        .news {
            min-width: 9em;
            width: calc(100% / 2);
            padding-bottom: 1em;
            padding: 0.5em;
            &:nth-child(2n) {
                .card {
                    &-body {
                        a {
                            h1 {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        .card {
            padding: 0.5rem;
            &-body {
                height: 15rem;
                .top {
                    height: 10rem;
                    a {
                        h1 {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
        .fa-star {
            font-size: 2rem;
            // margin-top: 1.5rem;
        }
    }
}