@import "../../index.scss";
.hero {
    background: #ffd200;
    height: 93vh;
    position: relative;
    .display-1 {
        font-size: 25rem;
        font-family: "Gilroy";
        position: absolute;
        top: 10%;
        left: 0%;
    }
    .fade-in {
        animation: fadeIn 0.5s ease-in;
    }
}