@import "../../index.scss";
.verticalNav {
    font-family: $montserrat;
    font-size: 2em;
    padding-bottom: 20rem;
    .nav-link {
        background: none;
        text-align: left;
        border: none;
        cursor: pointer;
        color: $blue;
        padding: 1em 0;
        transition: all 0.5s ease-in;
        &:focus {
            outline: none;
        }
        &:first-child {
            padding-top: 0;
        }
    }
    .clicked {
        color: $orange !important;
        font-weight: bold;
        // text-shadow: 1px 1px $blue;
    }
}