@import "../../index.scss";
.showResults {
    position: relative;
    top: -46vh;
    font-family: $montserrat;
    font-size: 2em;
    padding-bottom: 1rem;
}

@media (min-width: 300px) and (max-width:991.9px) {
    .showResults {
        position: relative;
        top: -37vh;
        font-family: $montserrat;
        font-size: 2em;
        padding-bottom: 1rem;
    }
}