@import "../../index.scss";
.social {
    text-align: center;
    position: fixed;
    top: 35%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    a {
        color: black;
        transition: all 0.3s ease-in;
        &:hover {
            color: $red;
        }
    }
    &-follow {
        margin-top: 7rem;
        text-transform: uppercase;
        transform: rotate(-90deg);
    }
}

@media (min-width: 300px) and (max-width:560px) {
    .social {
        text-align: center;
        position: fixed;
        top: 35vh;
        left: 92%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        &-follow {
            display: none;
        }
    }
}

@media (min-width: 560.1px) and (max-width:1250px) {
    .social {
        text-align: center;
        position: fixed;
        top: 35vh;
        left: 95%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        &-follow {
            display: none;
        }
    }
}