@import "../../index.scss";
.Jobs {
    text-align: left;
    .story {
        padding: 1rem 2rem;
        color: $blue;
        display: inline-block;
        width: 33.3%;
        &:nth-child(3n) {
            padding-right: 0
        }
        &:nth-child(2n) {
            .card {
                &-body {
                    background: black;
                    color: $white;
                    .top {
                        color: $red;
                    }
                }
            }
        }
        .card {
            border: none;
            .sc-htpNat.cCOoAV.react_tinylink_card_content_wrapper {
                display: none;
            }
            a.sc-gzVnrw.gilWtX.react_tinylink_card {
                max-width: none;
                height: 20rem;
            }
            &-body {
                height: 14rem;
                .top {
                    text-decoration: none;
                    color: $blue;
                }
                .bottom {
                    font-size: 1rem;
                    &-user {}
                    &-link {
                        a {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
    .story:first-child {
        padding-top: 0;
    }
    .fa-star {
        color: $red;
    }
    .fade-in {
        animation: fadeIn 0.5s ease-in;
    }
}