@import "../../index.scss";
.navTop {
    font-family: $montserrat;
    .navbar {
        background: #ffd200 !important;
        &-brand {
            .brandImage {
                width: 5rem;
            }
        }
        &-toggler {
            // height: 2em;
            font-size: 3rem;
            color: $red;
            border: none;
            transition: all 0.5s ease-in-out;
            &:focus,
            &:active {
                outline: none !important;
            }
            // &:hover {
            //     background: rgb(224, 224, 224);
            // }
        }
    }
    .nav {
        &-link {
            font-size: 1.5rem;
            background: none;
            text-align: left;
            border: none;
            margin: 1rem;
            cursor: pointer;
            color: black !important;
            padding: 1em 0;
            transition: all 0.5s ease-in;
            &::after {
                content: "";
                width: 0;
                opacity: 0;
                display: block;
                margin: 0.2em auto 0 auto;
                outline: 1px solid $red;
                transition: width 0.35s ease-in-out, opacity 0.35s ease-in-out;
            }
            &:focus {
                outline: none;
            }
            &:last-child {
                margin-right: 0;
            }
            &:first-child::after {
                outline: none;
            }
            //after pseudo element will be making opacity and width as 0.
            //and when you hover, they will have width 100%, opacity 1
            //so it will look like the after elements will appear nicely
            &:hover::after {
                opacity: 1;
                width: 100%;
            }
        }
    }
    .clicked {
        color: $red !important;
        font-weight: bold;
        // transition: all 0.5s ease-in;
        // text-shadow: 1px 1px $blue;
        &:after {
            content: "";
            width: 100%;
            opacity: 1;
            display: block;
            margin: 0.2em auto 0 auto;
            outline: 1px solid $red;
            transition: width 0.35s ease-in-out, opacity 0.35s ease-in-out;
        }
    }
}

//how to make pseudo element for nav
//https://stackoverflow.com/questions/59877478/css-animation-expand-width-from-0-to-100-and-hide-from-0-to-100