@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url("./Fonts/Gilroy-ExtraBold.otf") format('truetype');
}


/*** fonts ****/

$montserrat: 'Montserrat',
sans-serif;
$bilbo: 'Bilbo Swash Caps',
cursive;
$kanit: 'Kanit',
sans-serif;

/*** colors ***/

$red:#F2115B;
$blue: #15202B;
$black: #0A0909;
$white: #FDFFFC;
$secondWhite: rgb(181,
180,
187);
$turq: #114B5F;

/**** *****/

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #FFFFFF;
    // overflow-y: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}